<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="/mainpage.css">
</head>
<body>
    <h1>Tweet : world near you</h1>
    <div id="d11">
        <form method="post" action="/tweeter">
        <input name="username" placeholder="enter your username" type="text"><br><br>
        <textarea name="post" placeholder="tweet something" cols="30" rows="20"></textarea><br>
        <button>Post</button>
    </form>
    </div>
</body>
</html>