<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/mainpage.css">
</head>
<body>
    <h1>Edit Tweet</h1>
    <div id="d11">
        <h3>Username:<%=data.username%></h3>
        <form method="post" action="/tweeter/<%=data.id%>?_method=PATCH">
        <textarea name="post" rows="20" cols="30"><%=data.post%></textarea><br>
        <button>Post</button>
        </form>
    </div>
</body>
</html>