<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show post in detail</title>
    <link rel="stylesheet" href="/mainpage.css">
</head>
<body>
    <h1>Tweet</h1>
    <div id="d11">
        <h3>Username:<%=data.username%></h3>
        <h4>Tweet:<%=data.post%></h4>
    </div>
</body>
</html>